@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    color: #444;
    text-transform: lowercase;
}

#projects {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#projects li {
    margin: 5px 0;
}

#projects a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
}

#projects a:hover {
    text-decoration: underline;
}

